.parent {
  height: 100px;
  background: gray;
  border: 4px solid yellowgreen;
}
body {
  height: 100vh;
}
.child {
  position: sticky;
  top: 300px;
  background: deeppink;
  border: 4px solid greenyellow;
}
.long-contant {
  position: relative;
  border: 3px solid #000;
}
