* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../utils/one\ piece.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
img {
  width: 30px;
  height: 30px;
}
.Navbar {
    background: beige;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 20px auto;
  /* border: 1px solid black; */
  padding: 5px 40px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  
}
.icon-1 {
  width: 125px;
  height: 48px;
}
.right,
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.text {
  font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: bolder;
  font-size: 36px;
  text-transform: capitalize;
  color: #242424;
}
.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .search-input {
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 16px;
    padding: 5px 0;
  }
